
.calculator {
  height: 200px;
  width: 400px;
  background-color: gray;
  float: left;
  border: 1px solid black;
  border-radius: 5%;
  margin-right: 10px
}
h1 {
  text-align: center;
  font-family: calibri;
}
p {
  font-family: sans-serif;
}
ul{
  font-family: sans-serif;
}
h2 {
  text-align: center;
}
.calculate {
  margin-left: 10px;
}
body {
  background-color: #00acc1;
}
.chart {
  flex-flow: wrap;
}
img {
  border: 1px solid black;
  border-radius: 5%;
  height: 300px;
}
#weight{
  margin-left: 5px;
}
#height{
  margin-left: 5px;
}
.calculator p {
  margin-left: 10px;
}
